:root{
    --principal: #8D0E56;
    --principal-ultra-light: #B27B9B;
}

*,*::before,*::after{
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: grid;
    align-items: start;
    /* justify-items: center; */
    min-height: 100vh;
    background: hsla(326, 83%, 35%, 1);
    background: linear-gradient(45deg, hsla(326, 83%, 35%, 1) 0%, hsla(325, 82%, 33%, 1) 42%, hsla(324, 75%, 24%, 1) 93%);
    background: -moz-linear-gradient(45deg, hsla(326, 83%, 35%, 1) 0%, hsla(325, 82%, 33%, 1) 42%, hsla(324, 75%, 24%, 1) 93%);
    background: -webkit-linear-gradient(45deg, hsla(326, 83%, 35%, 1) 0%, hsla(325, 82%, 33%, 1) 42%, hsla(324, 75%, 24%, 1) 93%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#A30F63", endColorstr="#980F5F", GradientType=1 );
}

.width-50{
    width: 50%;
}

.ml-auto{
    margin-left: auto;
}

.text-center{
    text-align: center;
}

.progressbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 3rem 0 3.25rem 0;
}

.progressbar::before, .progress{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    background-color: lightgray;
    z-index: 0;
}

.progress{
    background-color: var(--principal);
    width: 0%;
    transition: 0.3s;
}

.progress-step{
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: lightgray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;
}

.progress-step::before{
    counter-increment: step;
    content: counter(step);
}

.progress-step::after{
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.75rem);
    font-size: 0.75rem;
    color: lightslategray;
}

@media only screen and (max-width: 500px){
    .progressbar{
        position: relative;
        display: flex;
        justify-content: space-between;
        counter-reset: step;
        margin: 2rem 0;
    }
    
    .progress-step::after{
        content:"";
    }
}

.progress-step-active{
    background-color: var(--principal);
    color:azure;
    font-weight: bold;
}

.form{
    background-color: white;
    width: min(32rem,90%);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 0.35rem;
    padding: 1.5rem;
}

.form-step{
    display: none;
    animation: animate 0.5s;
    transform-origin: top;
}

@keyframes animate {
    from{
        transform: scale(1,0);
        opacity: 0;
    }
    to{
        transform: scale(1,1);
        opacity: 1;
    }
}

.form-step-active{
    display: block;
}

input:not([type="submit"]), .input-group-text{
    margin: 0.75rem 0;
}

.form-check-input:focus {
    border-color: var(--principal-ultra-light);
    outline: 0;
    box-shadow: 0 0 0 0.25rem var(--principal-ultra-light);
  }

.form-check-input:checked{
    background-color: var(--principal);
    border-color: var(--principal);
}

input[id$="CURP"]{
    text-transform: uppercase;
}

label{
    vertical-align: middle;
}

select{
    margin: 0.75rem 0;
}

.btns-group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.btn {
    margin: min(0.75rem,5%);
    padding: 0.5rem;
    display: block;
    text-decoration: none;
    background-color: var(--principal) !important;
    color: azure !important;
    text-align: center;
    cursor: pointer;
    border-radius: 0.45rem;
    transition: 0.3%;
}

.btn[type="submit"]{
    border: none;
    font: inherit;
}

.btn:hover{
    box-shadow: 0 0 0 2px white, 0 0 0 3px var(--principal);
}

/* Image preview related */


.image-preview{
    width: 120px;
    height: 160px;
    border: 2px solid lightgray;
    margin-top:15px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:lightgray;
}

.image-preview__image{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

input[type="file"].is-invalid ~ .image-preview{
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

/* Floating label */

label{
    color: gray
}

.input-group-text{
    text-align:left;
    word-break: break-word;
    white-space: pre-line;
    overflow-wrap: break-word;
}

.imgTxt{
    margin: 0.75rem 0;
}

/* Invalid folio */

#is-in-bd{
    color: #dc3545;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
}